body{
    font-family: 'mukta', sans-serif;
    background-color: #FDFAF6;
    margin: 0px;
  }
  
  .nav_logo{
    max-height: 2rem;
  
  }
  
  .nav_logo-link{
    margin-right: 300px;
  
  }
  
  .nav_link{
    padding: 0.5rem 1rem;
    font-size: 20px;
  }
  
  .nav_link:hover {
    color: #e91179;
  }
  
  .nav_social{
    padding-left: 300px;
  
  }
  
  .nav_menu{
    font-weight: 500;
    display: flex;
    align-items: center;
    font-weight: 500;
    float: right;
    padding-right: 100px;
  }
  
  .page-pad{
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  
  }
  
  .nav_icon{
    display: inline-block;
    padding: 0.5rem;
    max-height: 2.5rem;
  }
  
  .nav_link.is-social-icon{
    padding-right: 0rem;
    display: inline-block;
    padding-left: 0rem;
  }
  
  img{
    vertical-align: middle;
  }
  
  a{
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
  }
  
  .container{
    max-width: 85rem;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-component{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .home-header_image{
    position: relative;
    top: -50px;

  }
  
  
  .home-header_pool{
    width: 94.4rem;
    max-width: none;
    height: auto;
  }
  h1{
    margin-top: 10%;
  }
  .home-header_content{
    font-family: 'Merriweather Sans', sans-serif;
    padding-left: 4rem;
    font-size: 5rem;
    line-height: 0.5;
    font-weight: 700;
    letter-spacing: -0.2rem;
    position: relative;
    z-index: 1;
    
  }
  
  
  
  h2{
    padding-left: 720px;
  
  }
  
  .home-header-p{
    position: absolute;
    top: 160%;
    left: 55%;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    font-weight: 540;
  
  }
  
  .home-header-p strong{
    /* border-radius: 1.55rem;
    border: 2px solid yellow;
    padding: 0.5rem 0.55rem;
    font-size: 1.5rem; */
    width: 240px;
    height: 120px;
    border: 2px solid yellow;
    -moz-border-radius: 135px / 75px;
    -webkit-border-radius: 135px / 75px;
    border-radius: 185px / 75px;
    padding:8px 30px;
   
  }

  .home-header_button-wrapper{
    margin-left: 950px;
    margin-top: -130px;
  }
  
  .button{
    position: absolute;
    letter-spacing: 0.05rem;
    background-color: #e91179;
    border-radius: 0.35rem;
    box-shadow: 0 0 0 0.15rem #212529, 4px 4px 0 0.25rem #212529;
    color: aliceblue;
    padding: 1.55rem 1.55rem;
    font-size: 1.5rem;
    transform: rotate(-15deg);
  }
  
  
  
  .list{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    position: relative;
    padding-left: 450px;
    bottom: 300px;
    z-index: 1;
  }
  
  .list1{
    border-style: solid;
    border: 8px solid white;
    box-shadow: 6px 6px 0 3px #212529, 4px 4px 0.5rem 0.35rem #212529;
    width: 180px;
  height: 180px;
  background: yellow;
  border-radius: 50%;
  padding:50px;
  transform: rotate3d(2, -1, 1, 35deg);
  font-weight: 1000;
  font-size: 500;
  }
  
  
  
  .list2{
    border-style: solid;
    border: 8px solid white;
    box-shadow: 6px 6px 0 3px #212529, 4px 4px 0.5rem 0.35rem #212529;
    width: 180px;
  height: 180px;
  background: #e91179;
  border-radius: 50%;
  padding:50px;
  transform: rotate3d(1.5, -2, 0.5, 40deg);
  position: relative;
  bottom: 30%;
  right: 30%;
  font-weight: 700;
  
  }
  
  
  .list3{
    border-style: solid;
    border: 8px solid white;
    box-shadow: 6px 6px 0 3px #212529, 4px 4px 0.5rem 0.35rem #212529;
    width: 180px;
  height: 180px;
  background: yellow;
  border-radius: 50%;
  padding:50px;
  transform: rotate3d(-5.5, -8.5, 2, 25deg);
  font-weight: 1000;
  position: relative;
  right: 70%;
  top: 20%;
  }
  
  .padding-large {
    padding: 3rem;
  }
  
  .how-it-works{
    background-color: #040505;
    padding-bottom: 200px;
    top: -347px;
    position: relative;
  }
  
  .header{
    padding-top: 100px;
    padding-left: 100px;
    margin-bottom: -50px;
  }
  
  .how{
    color: aliceblue;
    font-size: 120px;
    letter-spacing: 0.05rem;
    font-weight: bold;
  }
  
  .how strong{
    width: 240px;
    height: 120px;
    border: 2px solid yellow;
    -moz-border-radius: 135px / 75px;
    -webkit-border-radius: 135px / 75px;
    border-radius: 185px / 75px;
    padding:9px 30px;
    
  }
  
  .cont{
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 0.05rem;
    font-weight: 30;
  
  }
  .arrow{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -80px;
  }
  .arrow-i{
    padding-right: 130px;
    padding-left: 150px;
  }
  
  hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .vl{
    border-left: 1px solid white;
     height: 300px;
  }    
  
  
  .social{
    padding-left: 75px;
    margin-top: 70px;
  
  }
  .inline{
    display: flex;
  }
  
  .w-inline-block{
  padding: 2.5rem;
  
  
  }
  
  .a{
    font-size: 30px;
  }
  
  .section{
    margin-top: -350px;
  }
  .sec-img{
    padding-left: 40px;
  }
  
  .com{
    position: relative;
    top: -680px;
    margin-left: 770px;
    font-size: 30px;
    transform: rotate(10deg);
    width: 200px;
    border: 2px solid yellow;
    -moz-border-radius: 135px / 75px;
    -webkit-border-radius: 135px / 75px;
    border-radius: 185px / 75px;
    padding:1px 20px;
    
  }
  
  .p-com{
    padding-left: 10px ;
   
  }
  
  .dive{
  color: black;
  margin-top: -700px;
  font-size: 100px;
  margin-left: 750px;
  margin-right: 200px;
  }
  .val{
    color: #040505;
    position: relative;
    top: -850px;
    font-weight: bold;
    font-size: 80px;
    margin-block-end: 0px;
  }
  .mah{
    font-size: 25px;
    font-weight: normal;
  }
  
  .div-pad{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: auto;
    margin-top: -70px;
    margin-left: 670px;
  
  }
  .box-style-1 {
    border-style: solid;
    border-color: #212529;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 6px 6px 0 0 #212529;
    padding-bottom: 20px;
  }
  .big-number-list_label2{
    font-size: 30px;
    margin-left:20px ;
  
  }
  .two{
    color: white;
  }
  .padding-large2{
    padding-top: 30px;
    margin-left: 30px;
  }
  .big{
    padding-left: 20px;
  }
  
  .i{
    height: 70px;
  }
  
  .s{
    padding-top: 50px;
  }
  
  .black{
    background-color: #040505;
    margin-top: 82px;
  }
  
  .sec{
    padding-left: 220px;
    
  }
  
  .sma{
    font-size: 25px;
  }
  .oak{
    margin-left: 0px;
    grid-template-columns: 350px 350px 350px
  }
  .cer{
   
    padding-left: 0px;
  }
  
  .div-valid{
    display: flex;
    margin-left: 160px;
    margin-top: -50px;
  
  }
  .info{
    padding-bottom: 0px;
  }
  
  .valf{
    display: flex;
    justify-content: space-between;
  }
  
  .ig {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    /* border-width: 0.3rem; */
    border-color: #212529;
    border-radius: 1.25rem;
    background-color: #fff;
    box-shadow: 6px 6px 0 0 #212529;
    padding: 20px;
    position: relative;
    top: -660px;
    left: 350px
  }
  
  .imp{
    transform: rotate(20deg);
    top: -751px;
    left: 300px;
  }
  .cos{
    top: -585px;
    left: 100px;
  
  }
  .ever{
    transform: rotate(50deg);
    left: -50px;
    top: -750px;
  }
  
  .f{
    font-size: 20px;
    padding-right: 10px;
  }
  .f1{
    font-size:15px;
    padding-bottom: 50px;
    padding-right: 50px;
  }
  .f2{
    font-size:18px;
    padding-right: 100px;
  
  }
  .b{
  font-size: 28px;
  }
  
  .seci{
    position: relative;
    top: 45%;
  }
  .seci2{
    position: relative;
    top: 25%;
  }
  
  .div-val{
    margin-top: 200px;
    padding-left: 130px;
  }
  
  
  
  
  .footer{
    background-color: #040505;
    color: white;
    margin-top: -400px;
    padding-left: 120px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
  }
  .stride{
    max-height: 3.5rem;
  }
  .fo{
    padding-left: 0px;
  }
  .row{
    display: flex;
    padding: 60px;
  }
  .pfoot{
    margin-right: 450px;
    margin-block-end: 0em;
  }
  .pfoot2{
    margin-block-start: 0.5em;
  
  }
  .col-2{
    padding-right: 60px;
  }
  .col-3{
    padding-right: 60px;
  }
  .end{
    padding-left: 500px;
  }
  
  
  @media screen and (max-width: 992px) {
    .home-header_pool {
        position: relative;
        width: 95.4rem;
        max-width: none;
        top: 220px;
    }
  }